#panel1 {
  margin-top: 20px;
}
#panel1 lorem-element {
  font: normal 25px cursive;
}

#panel2 {
  margin-top: 50px;
}
#panel2 lorem-element {
  font: normal 25px cursive;
}

#panel3 {
  margin-top: 50px;
}
#panel3 lorem-element {
  font: normal 25px cursive;
}
